<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BotMe</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src= 
    "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> 
        </script> 
</head>
<body>
    <h1 class="head1">ChatBot </h1>

    <div class="container">
        <div class="col-md-3"></div>
    <div class="boxbody col-md-6" id="my-chat">

        <div id="chatbox">
            <p class="botText"><span>Hi! I'm Chatbot </span></p>
    
        </div>
    <br>
        <div class="row">
            <div id="userInput">
              &nbsp;&nbsp;&nbsp;  <input id="textInput" type="text" name="msg" placeholder="Message" >

        
               <button id="buttonInput" type="submit" value="Send" >
                     Send
                </button>
                <br>           

            </div>
        </div>
    </div>
    
</div>

<footer align="center">
    Made by Swapnil Sutar &#169; 2020
</footer>
    
<script type="text/javascript" src="/static/get.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"  crossorigin="anonymous"></script>
</body>
</html>