Package            Version
------------------ ---------
ChatterBot         1.0.0
chatterbot-corpus  1.2.0
click              7.1.2
Flask              1.1.2
importlib-metadata 1.7.0
itsdangerous       1.1.0
Jinja2             2.11.2
joblib             0.16.0
MarkupSafe         1.1.1
mathparse          0.1.2
nltk               3.5
packaging          20.4
Pint               0.15
pip                20.1.1
pymongo            3.11.0
pyparsing          2.4.7
python-dateutil    2.7.5
PyYAML             3.13
regex              2020.7.14
setuptools         47.3.2
six                1.15.0
SQLAlchemy         1.2.19
tqdm               4.48.2
Werkzeug           1.0.1
wheel              0.34.2
zipp               3.1.0
